<h1>Current situation as of <%= Time.now.to_s( :time ) %> is:</h1>
<ul>
  <li><%= link_to "There #{is_are_pluralize( Booking.count_waiting_pickup, 'booking' )} waiting to be despatched", :controller => :bookings %>.</li>
  <li><%= link_to "There #{is_are_pluralize( Booking.count_overdue, 'booking' )} overdue for despatch", :controller => :bookings, :action => :overdue %>.</li>
  <li><%= link_to "There #{is_are_pluralize( Courier.count, 'courier' )} on file", :controller => :couriers %>.</li>
  <% next_pickup = Booking.find_next_pickup
     if next_pickup -%>
     <li>
       <% if next_pickup.overdue? -%>
         <%= link_to "Next pickup was due #{distance_of_time_in_words( Time.now, next_pickup.expected_pickup )} ago", booking_path( next_pickup ) %>
       <% else -%>
         <%= link_to "Next pickup due in #{distance_of_time_in_words( Time.now, next_pickup.expected_pickup )}", booking_path( next_pickup ) %>
       <% end -%>
       (<%= next_pickup.expected_pickup.to_s( :short ) %>).
     </li>
  <% end -%>
</ul>
